{% capture p_top %}{% if block.settings.padding_top %}var(--column-gap){% else %}0{% endif %}{% endcapture %}
{% capture p_right %}{% if block.settings.padding_right %}var(--column-gap){% else %}0{% endif %}{% endcapture %}
{% capture p_bottom %}{% if block.settings.padding_bottom %}var(--column-gap){% else %}0{% endif %}{% endcapture %}
{% capture p_left %}{% if block.settings.padding_left %}var(--column-gap){% else %}0{% endif %}{% endcapture %}
<div class="product-bundles sm:pr-28" style="padding:{{ p_top }} {{ p_right }} {{ p_bottom }} {{ p_left }}">
  {% if block.settings.subheading != blank %}
    <span class="content__subheading block mb-5 font-medium tracking-widest">{{ block.settings.subheading }}</span>
  {% endif %}
  {% if block.settings.title != blank %}
    <h3 class="content__heading text-4xl font-bold">{{ block.settings.title }}</h3>
  {% endif %}
  <div class="product-bundles__list mt-6">
    {% assign products = 'product_1,product_2,product_3,product_4,product_5' | split: ',' %}
    {% assign total_price = 0 %}
    {% for product_id in products %}
      {% assign saved_price = '' %}
      {% assign product = all_products[block.settings[product_id]] %}
      {% assign variant = product.first_available_variant %}
      {% if variant.compare_at_price != blank and variant.compare_at_price > variant.price %}
        {% assign saved_price = variant.compare_at_price | minus: variant.price | money %}
      {% endif %}
      {% assign sold_out = false %}
      {% unless variant.available %}
        {% assign sold_out = true %}
      {% endunless %}
      {% if product != empty %}
        {% assign total_price = total_price | plus: variant.price %}
        <div
          class="product-bundles__item flex items-center relative py-4 pl-9 md:pl-12{% if block.settings.show_reviews %} product-bundles__item--has-reviews{% endif %}"
          data-index="{{ forloop.index0 }}">
          {%- if block.settings.show_side_circle -%}
            <span
              class="product-bundles__item-index ablock.settings.lute left-0 top-1/2 rounded-full border-2 border-black inline-flex justify-center items-center w-[30px] h-[30px]">
              {%- if block.settings.show_side_circle_numbers -%}{{forloop.index }}{%- endif -%}
            </span>
          {%- endif -%}
          <a href="{{ product.url }}" class="block product-bundles__item-image flex-shrink-0 w-[70px] md:w-[90px] ml-1">
            {% render 'responsive-image', image: product.featured_image %}
          </a>
          <div class="product-bundles__item-info flex flex-wrap md:flex-nowrap flex-1 pl-3 sm:pl-5 h-full">
            <div class="md:flex-1 md:pr-3 w-full">
              {% if block.settings.show_reviews %}
                <div class="sf__product-reviews text-sm">
                  {% render 'product-reviews-app__badge', product: product %}
                </div>
              {% endif %}
              <h3 class="text-xs md:text-sm uppercase font-bold tracking-wider">
                <a href="{{ product.url }}">{{ product.title }}</a>
              </h3>
              <div class="mt-3 pr-4{% if product.has_only_default_variant %} hidden{% endif %}">
                <select name="id" class="sf-product-variant-option-dropdown form-control">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}" {% if variant.available !=true %} disabled{% endif %}>{{ variant.title }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div
              class="product-bundles__item-prices md:text-right pt-2 md:pt-0{% if block.settings.show_reviews %} md:pt-7{% endif %}">
              <p>
                {% if saved_price != blank %}
                  <span class="sf-currency mr-2 line-through text-color-secondary" data-compare-price>
                    {{ variant.compare_at_price | money }}
                  </span>
                {% endif %}
                {% unless sold_out %}
                  <span class="sf-currency" data-regular-price data-price="{{ variant.price }}">
                    {{ variant.price | money }}
                  </span>
                {% else %}
                  <span>{{ 'products.product.sold_out' | t }}</span>
                {% endunless %}
              </p>
              {% if saved_price != blank %}
                <p>{{ 'products.product.save_html' | t : amount: saved_price }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <script type="application/json" data-product-variants>
          {{ product.variants | json }}
        </script>
      {% endif %}
    {% endfor %}
  </div>
  <div class="product-bundles__cta mt-6">
    {%- capture content -%}
      <span>{{ block.settings.button_label }}</span>
      <span class="px-2"> | </span>
      <span class="sf-currency" data-total-price="{{ total_price }}">{{ total_price | money }}</span>
    {%- endcapture -%}
    {%- capture attributes -%}data-add-bundle{%- endcapture -%}
    {% render 'button-link'
      link: block.settings.button_link,
      style: block.settings.button_style,
      text: content,
      width: block.settings.button_width,
      override_width: block.settings.button_override_width,
      attributes: attributes
    %}
  </div>
  <div class="product-bundles__error mt-5"></div>
</div>