{%- assign st = section.settings -%}
{%- assign total_active_values = 0 -%}

<script src="{{ '2.0-filters.js' | asset_url }}" defer="defer"></script>

<collection-filters-form>
  <form id="CollectionFiltersForm">
    {% if st.show_sorting %}
      <div class="hidden" data-form-sorting>
        {% render 'collection-filters-sort-by' %}
      </div>
    {% endif %}

    <div class="collection-filter-grid">
      {%- for filter in collection.filters -%}
        {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
        {% case filter.type %}
          {% when 'list' %}
            {% if filter.label == "Ratings"%}
            <div class="sf__filters-item js-filter order-first" data-index="{{ forloop.index }}">
              <div class="sf__filters-button">
                <span>{% if filter.label == "Price Tag"%}Price{%else%}{{ filter.label }}{% endif %}</span>
              </div>
              <div class="sf__filters-content" style="opacity: 1;">
                <ul class="{% if st.limit_height_widget %}sf-scroll_content{% endif %}" role="list">
                  {%- for value in filter.values -%}
                    <li class="cursor-pointer rounded-checkbox">
                        <input 
                          class="hidden"
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {% if value.active %}checked{% endif %}
                          {% if value.count == 0 and value.active == false %}disabled{% endif %}
                        >
                      <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox flex stars {% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                        {% case value.label %}
                        {% when '(5) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(4) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(3) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(2) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(1) Star' %}
                          {% render 'icon', name: 'star', size: size %}
                
                        {% endcase %}
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div> 
          {%else%}
              <div class="sf__filters-item js-filter order-first" data-index="{{ forloop.index }}">
                <div class="sf__filters-button">
                  <span>{% if filter.label == "Price Tag"%}Price{%else%}{{ filter.label }}{% endif %}</span>
                </div>
                <div class="sf__filters-content" style="opacity: 1;">
                  <ul class="{% if st.limit_height_widget %}sf-scroll_content{% endif %}" role="list">
                    {%- for value in filter.values -%}
                      <li class="cursor-pointer rounded-checkbox">
                          <input 
                            type="checkbox"
                            name="{{ value.param_name }}"
                            value="{{ value.value }}"
                            id="Filter-{% if filter.label == "Price Tag"%}Price-Tag{%else%}{{ filter.label| escape }}{% endif %}-{{ forloop.index }}"
                            {% if value.active %}checked{% endif %}
                            {% if value.count == 0 and value.active == false %}disabled{% endif %}
                          >

                        <label for="Filter-{% if filter.label == "Price Tag"%}Price-Tag{%else%}{{ filter.label| escape }}{% endif %}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                          {{ value.label | escape }}
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div> 
            {% endif %} 
          {% else %}
           
        {% endcase %}
      {%- endfor -%}
    </div>

    {% if collection.current_vendor or collection.current_type %}
      <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
    {% endif %}
  </form>
</collection-filters-form>


<!-- <collection-filters-form class="hide-desktop">
  <div class="filtered-items">
  {%- for filter in collection.filters -%}
    {%- if filter.active_values.size > 0 -%}
      {%- assign has_filters = true -%}
    {%- endif -%}
        {%- for value in filter.active_values -%}
        <facet-remove class="filtered-item-content">
          <a href="{{ value.url_to_remove }}" class="flex items-center">
            <span class="filtered-item-text">
              {{ value.label | escape }}
            </span>
            <span class="filtered-item-icon">{% render 'icon', name: 'times', size: 'small' %}</span>
          </a>
        </facet-remove>
      {%- endfor -%}
  {%- endfor -%}
</div>

  <form id="CollectionFiltersForm">
    {% if st.show_sorting %}
      <div class="hidden" data-form-sorting>
        {% render 'collection-filters-sort-by' %}
      </div>
    {% endif %}

    <div class="collection-filter-grid tabs">
      
      {%- for filter in collection.filters -%}
        {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
        {% case filter.type %}
          {% when 'list' %}
          <hr>



            {% if filter.label == "Ratings"%}
            <div class="sf__filters-item js-filter order-first tab" data-index="{{ forloop.index }}">
            <input type="checkbox" id="chck{{ forloop.index }}"> -->
              <!-- <label class="tab-label" for="chck{{ forloop.index }}">{% if filter.label == "Price Tag"%}Price{%else%}{{ filter.label }}{% endif %}</label>
          
              <div class="sf__filters-content tab-content" style="opacity: 1;">
                <ul class="{% if st.limit_height_widget %}sf-scroll_content{% endif %}" role="list">
                  {%- for value in filter.values -%}
                    <li class="cursor-pointer rounded-checkbox">
                        <input 
                          class="hidden"
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {% if value.active %}checked{% endif %}
                          {% if value.count == 0 and value.active == false %}disabled{% endif %}
                        >
                      <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox flex stars {% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                        {% case value.label %}
                        {% when '(5) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(4) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(3) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(2) Stars' %}
                          {% render 'icon', name: 'star', size: size %}
                          {% render 'icon', name: 'star', size: size %}
                        {% when '(1) Star' %}
                          {% render 'icon', name: 'star', size: size %}
                
                        {% endcase %}
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div> 
          {%else%}
          <div class="sf__filters-item js-filter order-first tab" data-index="{{ forloop.index }}">
            <input type="checkbox" id="chck{{ forloop.index }}">
            <label class="tab-label" for="chck{{ forloop.index }}">{% if filter.label == "Price Tag"%}Price{%else%}{{ filter.label }}{% endif %}</label>
        
            <div class="sf__filters-content tab-content" style="opacity: 1;">
                <ul class="{% if st.limit_height_widget %}sf-scroll_content{% endif %}" role="list">
                    {%- for value in filter.values -%}
                      <li class="cursor-pointer rounded-checkbox">
                          <input 
                            type="checkbox"
                            name="{{ value.param_name }}"
                            value="{{ value.value }}"
                            id="Filter-{% if filter.label == "Price Tag"%}Price-Tag{%else%}{{ filter.label| escape }}{% endif %}-{{ forloop.index }}"
                            {% if value.active %}checked{% endif %}
                            {% if value.count == 0 and value.active == false %}disabled{% endif %}
                          >
                        <label for="Filter-{% if filter.label == "Price Tag"%}Price-Tag{%else%}{{ filter.label| escape }}{% endif %}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                          {{ value.label | escape }}
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div> 
            {% endif %} 
          {% else %}
           
        {% endcase %}
      {%- endfor -%}
    </div>

    {% if collection.current_vendor or collection.current_type %}
      <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
    {% endif %}
  </form>
</collection-filters-form> --> 

<!-- 
<script>
  const formFilter = document.querySelectorAll('collection-filters-form')[0];
  console.log(formFilter);
  if (window.innerWidth < 991) {
    formFilter.remove();   
  }
</script> -->