{% assign min = 1 %}
{% assign max = 100 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
{% assign swiper_control_name = "swiper-testimonial-3-control-" | append: randomNumber %}

<div class="swiper-container swiper-testimonial-3-{{randomNumber}}">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
            <div class="swiper-slide" {{ block.shopify_attributes }} data-index={{ forloop.index0 }}>
                <div class="bg-white py-6 sm:py-10 px-5 sm:px-[30px] flex rounded-[5px] h-full">
                    {% if block.settings.image != blank %}
                        <div class="hover:text-color-subtext hidden lg:flex mr-3 sm:mr-6 flex-shrink-0">
                            {% render 'responsive-image', image: block.settings.image, wrapper_class: 'w-[60px] h-[60px] sm:w-[84px] sm:h-[84px]', image_class: 'object-cover rounded-full' %}
                            <div class="mt-4 text-sm not-change">{{ block.settings.image_text }}</div>
                        </div>
                    {% endif %}
                    <div>
                        {% if section.settings.show_stars %}
                            <div class="stars flex mb-4">
                                {%- render 'testimonials__stars' -%}
                            </div>
                        {% endif %}
                        {% render 'heading-tag' 
                            heading: block.settings.title_tag,
                            content: block.settings.title
                        %}
                        <div class="mb-3 text-color-subtext rte not-change tes-desc">{{ block.settings.description }}</div>
                        <div class="not-change tes-author">{{ block.settings.footer }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% render 'slider-controls', show_nav: section.settings.show_navigation, show_pagination: section.settings.show_pagination, absolute: true, container: section.settings.container, swiper_control_name: swiper_control_name %}

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        var is_wFull = false;
        if ('{{container_type}}' === 'w-full') {
            is_wFull = true;
        }
        var swiper = new Swiper('.swiper-testimonial-3-{{randomNumber}}', {
            slidesPerView: 1,
            spaceBetween: 30,
            navigation: { 
                nextEl: document.querySelector('.sf-slider__controls-next.swiper-testimonial-3-control-{{randomNumber}}'),
                prevEl: document.querySelector('.sf-slider__controls-prev.swiper-testimonial-3-control-{{randomNumber}}')
            },
            pagination: {
                el: document.querySelector('.swiper-pagination.swiper-testimonial-3-control-{{randomNumber}}'),
                clickable: true
            },
            breakpoints: {
                768: {
                    slidesPerView: is_wFull ? 3 : 2
                }
            }
        });
    }, false);
</script>
