{% capture container %}
    {{ section.settings.container }}
{% endcapture %}
{% case section.settings.bg_color_selector %}
  {% when 'color_section1_bg' %}
    {%- assign bg_color = settings.color_section1_bg -%}
  {% when 'color_section2_bg' %}
    {%- assign bg_color = settings.color_section2_bg -%}
  {% when 'color_section3_bg' %}
    {%- assign bg_color = settings.color_section3_bg -%}
  {% when 'color_section4_bg' %}
    {%- assign bg_color = settings.color_section4_bg -%}
  {% when 'color_section5_bg' %}
    {%- assign bg_color = settings.color_section5_bg -%}
  {% when 'color_section6_bg' %}
    {%- assign bg_color = settings.color_section6_bg -%}
  {% else %}
    {%- assign bg_color = settings.color_section1_bg -%}
{% endcase %}

{%- if section.settings.bg_color_override -%}
  {%- assign bg_color = section.settings.bg_color -%}
{%- endif -%}

{% if section.settings.image_svg != blank %}
    {%- assign bg_image_svg = section.settings.image_svg -%}
{% else %}
    {%- assign bg_image = section.settings.bg_image -%}
{% endif %}
{%- assign bg_image_mobile = section.settings.bg_image_mobile -%}
{%- assign item = section.settings -%}

<section data-section-type="article-header-template" data-section-id="{{ section.id }}" 
  class="sf__page-blog-single-post-header section-pv-{{ section.settings.margin_vertical }} {% if item.hide_mobile %} hide-mobile{% endif %}{% if item.hide_tablet %} hide-tablet{% endif %}{% if item.hide_desktop %} hide-desktop{% endif %}"
  style="background-color:{{ bg_color }};">
    <div class="{{ container }} text-{{ item.article_align_content }} flex flex-col">
        
            {%- capture custom_styles -%}
              {%- if item.tag_color !='rgba(0,0,0,0)' and item.tag_color != blank -%}
                color:{{ item.tag_color }};
              {%- endif -%}
            {%- endcapture -%}

            {%- capture top_tag -%}
                {%- for tag in article.tags -%}
                  <a href="{{- blog.url -}}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {%- endfor -%}
            {%- endcapture -%}

            {% render 'heading-tag'
            heading: item.tag_tag,
            content: top_tag,
            custom_classes: 'hide-tablet uppercase',
            custom_styles: custom_styles
            %}

            {% render 'heading-tag'
            heading: item.tag_tag_mobile,
            content: top_tag,
            custom_classes: 'hide-desktop uppercase',
            custom_styles: custom_styles
            %}

        <h1 class="hide-tablet" style="color: {{item.title_color}};">{{article.title}}</h1> 
        <h3 class="hide-desktop" style="color: {{item.title_color}};">{{article.title}}</h3> 
        <h5 style="color: {{item.subtitle_color}};">{{article.metafields.single.subtitle}}</h4>
    </div>
</section>

<style>

.sf__page-blog-single-post-header {
    background-color:{{ meno.bg_color}};
    background-image: url({{ section.settings.image_svg_left }}), url({{ section.settings.image_svg_right }});
    background-repeat: no-repeat, no-repeat;
    background-position:left, right;
    background-size: contain;
}
.sf__page-blog-single-post-header h6{
  font-size: 24px;
}

    
@media screen and (max-width: 991px) {
    .sf__page-blog-single-post-header {
        background: none;
    }
}
</style> 

{% schema %}
{
    "name": "Blog post header",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "label": "Hide on Desktop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_tablet",
          "label": "Hide on Tablet",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Hide on Mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "margin_vertical",
          "label": "Section margin (vertical)",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ]
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
          "type": "select",
          "id": "bg_color_selector",
          "label": "Section Background",
          "default": "color_section1_bg",
          "options": [
            {
              "value": "color_section1_bg",
              "label": "Section 1"
            },
            {
              "value": "color_section2_bg",
              "label": "Section 2"
            },
            {
              "value": "color_section3_bg",
              "label": "Section 3"
            },
            {
              "value": "color_section4_bg",
              "label": "Section 4"
            },
            {
              "value": "color_section5_bg",
              "label": "Section 5"
            },
            {
              "value": "color_section6_bg",
              "label": "Section 6"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "bg_color_override",
          "label": "Override Background",
          "default": false
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
            "type": "select",
            "id": "article_align_content",
            "label": "Content alignment",
            "default": "left",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ]
        },
        {
            "type": "color",
            "id": "tag_color",
            "label": "Tag color",
            "default": "#356687"
        },
        {
            "type": "select",
            "id": "tag_tag",
            "label": "Tag heading tag",
            "default": "p-large",
            "options": [
                { "value": "p", "label": "Paragraph" },
                { "value": "heading-1-seo", "label": "SEO H1" },
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" },
                { "value": "p-xsmall", "label": "Extra small paragraph" },
                { "value": "p-small", "label": "Small paragraph" },
                { "value": "p-medium", "label": "Medium paragraph" },
                { "value": "p-large", "label": "Large paragraph" },
                { "value": "p-xlarge", "label": "Extra large paragraph" },
                { "value": "quote-1", "label": "Quote 1" },
                { "value": "quote-2", "label": "Quote 2" },
                { "value": "quote-3", "label": "Quote 3" }
            ]
        },
        {
            "type": "select",
            "id": "tag_tag_mobile",
            "label": "Tag heading tag",
            "default": "h3",
            "options": [
                { "value": "p", "label": "Paragraph" },
                { "value": "heading-1-seo", "label": "SEO H1" },
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" },
                { "value": "p-xsmall", "label": "Extra small paragraph" },
                { "value": "p-small", "label": "Small paragraph" },
                { "value": "p-medium", "label": "Medium paragraph" },
                { "value": "p-large", "label": "Large paragraph" },
                { "value": "p-xlarge", "label": "Extra large paragraph" },
                { "value": "quote-1", "label": "Quote 1" },
                { "value": "quote-2", "label": "Quote 2" },
                { "value": "quote-3", "label": "Quote 3" }
            ]
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "Subtitle color",
            "default": "#333333"
        },
        {
            "type": "text",
            "id": "image_svg_left",
            "label": "Image SVG Left",
            "info": "Upload your SVG image to [Files](/admin/settings/files) to get the URL. SVG will be used as default image if available."
        },
        {
            "type": "text",
            "id": "image_svg_right",
            "label": "Image SVG Right",
            "info": "Upload your SVG image to [Files](/admin/settings/files) to get the URL. SVG will be used as default image if available."
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
          },
          {
            "type": "image_picker",
            "id": "bg_image_mobile",
            "label": "Background image mobile"
          }
    ]

}
{% endschema %}