{%- liquid 
  assign st = section.settings
  case st.bg_color_selector
    when 'color_section1_bg'
      assign bg_color = settings.color_section1_bg
    when 'color_section2_bg'
      assign bg_color = settings.color_section2_bg
    when 'color_section3_bg'
      assign bg_color = settings.color_section3_bg
    when 'color_section4_bg'
      assign bg_color = settings.color_section4_bg
    when 'color_section5_bg'
      assign bg_color = settings.color_section5_bg
    when 'color_section6_bg'
      assign bg_color = settings.color_section6_bg
    else
      assign bg_color = settings.color_section1_bg
  endcase

  if st.bg_color_override
    assign bg_color = st.background_color
  endif
  assign has_bg = false
  unless bg_color == "rgba(0,0,0,0)" or bg_color == blank 
      assign has_bg = true
  endunless

  case st.image_animation
    when 'scale-up'
      assign image_animation = 'sf__hover-scale-up'
    when 'scale-down'
      assign image_animation = 'sf__hover-scale-down'
    when 'zoom-in'
      assign image_animation = 'sf__hover-zoom-in'
    else
      assign image_animation = ''
  endcase
-%}

{% capture container %}
    {{ st.container }}
{% endcapture %}

<section
    id="sf__img-with-rich-text-{{ section.id }}"
    data-section-type="image-with-rich-text"
    data-section-id={{ section.id }}
    class="image__with-text image__with-rich-text--{{ section.id }} section-pv-{{ st.margin_vertical }} {{ st.custom_class }}{% if st.hide_mobile %} hide-mobile{% endif %}{% if st.hide_tablet %} hide-tablet{% endif %}{% if st.hide_desktop %} hide-desktop{% endif %}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    style="background-color: {{ bg_color }};"
>
    <div class="{{ container }}" style="--column-gap: {{ st.item_gap }}px; --row-gap: {{ st.item_gap | divided_by: 2 }}px; --column-gap-mobile: {{ st.item_gap_mobile }}px;">
        {% render 'index-section-header', section_settings: st %}

        <div class="sf-custom__grid flex flex-wrap {% if st.layout == 'right' %} flex-row-reverse {% endif %}">
          <div class="sf-custom__block img__box-{{ section.id }} sf w-full lg:w-{{ st.image_column_size }}/12">
            <{% if st.link %}a{% else %}div{% endif %}{% if st.link %} href="{{ st.link }}"{% endif %} class="image__box {{ image_animation }} relative">
              {% if st.image != blank %}
                {% render 'responsive-image', image: st.image, image_class: 'w-full h-full' %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full w-full h-full object-cover' }}
              {% endif %}
            </{% if st.link %}a{% else %}div{% endif %}>
          </div>
          <div class="sf-custom__block content__box-{{ section.id }} flex flex-col items-center align-self-{{ st.vertical_alignment }} w-full lg:w-{{ 12 | minus: st.image_column_size }}/12 {% if st.container == 'w-full' %}px-4{% else %}px-0{% endif %} sm:px-4">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when "rich-text" %}
                  {% liquid 
                    assign title_color = "var(--color-body-text)"
                    if block.settings.title_color != "rgba(0,0,0,0)"
                      assign title_color = block.settings.title_color
                    endif
                    assign text_color = "var(--color-body-text)"
                    if block.settings.text_color != "rgba(0,0,0,0)"
                      assign text_color = block.settings.text_color
                    endif 
                  %}

                  <div class="content__box w-full mt-2">
                    {% if block.settings.title != blank %}
                      <h3 class="content__heading rte text-3xl mb-2" style="color: {{ title_color }}">{{ block.settings.title }}</h3>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="mb-2 rte prose" style="color: {{ text_color }}">{{ block.settings.text }}</div>
                    {% endif %}
                    {% if block.settings.button_image %}
                      <div class="mb-6" style="width: fit-content;">
                        <a href="{{ block.settings.button_link | default: "#" }}" class="{{ block.settings.button_style }}">
                          <img loading="lazy" src="{{ block.settings.button_image | img_url }}"
                            width="{{ block.settings.button_size }}" height="{{ block.settings.button_size }}">
                        </a>
                      </div>
                    {% endif %}
                  </div>
                {% when "separator" %}
                  <div class="sep-pv-{{ block.settings.margin_vertical }} w-full flex justify-{{ block.settings.content_position }}">
                    {% render 'separator' style: block.settings.separator_style %}
                  </div>
                {%- when "list-item" -%}
                  {% render 'list-item',
                    block: block,
                    text_alignment: block.settings.text_alignment,
                    justify_content: block.settings.justify_content,
                    list_icon_size: block.settings.list_icon_size,
                    list_icon_library: block.settings.list_icon_library,
                    list_icon: block.settings.list_icon,
                    list_icon_color: block.settings.list_icon_color,
                    list_text: block.settings.list_text
                  %}
                {%- when "collapsible-item" -%}
                  <div class="prod__accordion">
                    <div class="sf-collapsible" data-section-type="sf-collapsible" data-section-id="{{ block.id }}">
                      {% render 'collapsible-item',
                        block: block,
                        collapsible_title: block.settings.collapsible_title,
                        collapsible_content: block.settings.collapsible_content,
                        justify_content: block.settings.justify_content,
                        text_alignment: block.settings.text_alignment,
                        collapsible_open: block.settings.collapsible_open
                      %}
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Image with rich text",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "hide_desktop",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_tablet",
      "label": "Hide on Tablet",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "margin_vertical",
      "label": "Section margin (vertical)",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_color_selector",
      "label": "Section Background",
      "default": "color_section1_bg",
      "options": [
        {
          "value": "color_section1_bg",
          "label": "Section 1"
        },
        {
          "value": "color_section2_bg",
          "label": "Section 2"
        },
        {
          "value": "color_section3_bg",
          "label": "Section 3"
        },
        {
          "value": "color_section4_bg",
          "label": "Section 4"
        },
        {
          "value": "color_section5_bg",
          "label": "Section 5"
        },
        {
          "value": "color_section6_bg",
          "label": "Section 6"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_color_override",
      "label": "Override Background",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "item_gap",
      "label": "Column gap",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "item_gap_mobile",
      "label": "Column gap on mobile",
      "min": 0,
      "max": 30,
      "step": 2,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical alignment",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_animation",
      "label": "Image animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "scale-up",
          "label": "Scale up"
        },
        {
          "value": "scale-down",
          "label": "Scale down"
        },
        {
          "value": "zoom-in",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "url",
      "id": "link",
      "label": "Image link"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_column_size",
      "label": "Image container width",
      "default": "6",
      "options": [
        {
          "value": "2",
          "label": "16%"
        },
        {
          "value": "3",
          "label": "25%"
        },
        {
          "value": "4",
          "label": "33%"
        },
        {
          "value": "5",
          "label": "41%"
        },
        {
          "value": "6",
          "label": "50%"
        },
        {
          "value": "7",
          "label": "58%"
        },
        {
          "value": "8",
          "label": "66%"
        },
        {
          "value": "9",
          "label": "75%"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hover_effect",
      "label": "Hover effect",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "rich-text",
      "name": "Rich Text",
      "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Lorem Ipsum Dolor Sit Amet"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscin elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
          "type": "header",
          "content": "Button settings"
        },
        {
          "type": "image_picker",
          "id": "button_image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "button_size",
          "label": "Image size",
          "unit": "px",
          "min": 20,
          "max": 60,
          "step": 5,
          "default": 30
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_style",
          "label": "Styles"
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator",
      "settings": [
        {
          "type": "select",
          "id": "separator_style",
          "label": "Style",
          "info": "Separator styling available on 'Theme Settings' inside the 'SEPARATORS' dropdown.",
          "options": [
            {
              "value": "separator",
              "label": "Primary"
            },
            {
              "value": "separator-1",
              "label": "Separator 1"
            },
            {
              "value": "separator-2",
              "label": "Separator 2"
            },
            {
              "value": "separator-3",
              "label": "Separator 3"
            },
            {
              "value": "separator-4",
              "label": "Separator 4"
            },
            {
              "value": "separator-5",
              "label": "Separator 5"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Position",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "margin_vertical",
          "label": "Margin vertical",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "list-item",
      "name": "List item",
      "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "list_layout",
          "label": "Layout",
          "options": [
            {
              "value": "default",
              "label": "Default"
            }
          ]
        },
        {
          "type": "select",
          "id": "list_icon_library",
          "label": "Icon library",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            }
          ]
        },
        {
          "type": "select",
          "id": "list_icon",
          "label": "Icon",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "tick",
              "label": "Tick"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "brush",
              "label": "Brush"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "rocket",
              "label": "Rocket"
            },
            {
              "value": "add",
              "label": "Add"
            },
            {
              "value": "crown",
              "label": "Crown"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "flame",
              "label": "Flame"
            }
          ]
        },
        {
          "type": "color",
          "id": "list_icon_color",
          "label": "Icon color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "list_icon_size",
          "label": "Icon size",
          "default": "md",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ]
        },
        {
          "type": "text",
          "id": "list_text",
          "label": "Text",
          "default": "Talk about your brand"
        },
        {
          "type": "select",
          "id": "justify_content",
          "label": "Content position",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "End"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "collapsible-item",
      "name": "Collapsible item",
      "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "collapsible_layout",
          "label": "Layout",
          "options": [
            {
              "value": "default",
              "label": "Default"
            }
          ]
        },
        {
          "type": "text",
          "id": "collapsible_title",
          "label": "Title",
          "default": "Talk about your brand"
        },
        {
          "type": "textarea",
          "id": "collapsible_content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "checkbox",
          "id": "collapsible_open",
          "label": "Open Tab By Default",
          "default": false
        },
        {
          "type": "select",
          "id": "justify_content",
          "label": "Content position",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "End"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with rich text",
      "category": "Image"
    }
  ]
}
{% endschema %}
