{%- assign st = section.settings -%}
{%- liquid
  case section.settings.bg_color_selector
    when 'color_section1_bg'
      assign bg_color = settings.color_section1_bg
    when 'color_section2_bg'
      assign bg_color = settings.color_section2_bg
    when 'color_section3_bg'
      assign bg_color = settings.color_section3_bg
    when 'color_section4_bg'
      assign bg_color = settings.color_section4_bg
    when 'color_section5_bg'
      assign bg_color = settings.color_section5_bg
    when 'color_section6_bg'
      assign bg_color = settings.color_section6_bg
    else
      assign bg_color = settings.color_section1_bg
  endcase
-%}
{%- liquid
  if section.settings.bg_color_override
    assign bg_color = section.settings.background_color
  endif
  assign has_bg = false
  unless bg_color == "rgba(0,0,0,0)" or bg_color == blank
    assign has_bg = true
  endunless
-%}

{%- assign st = section.settings -%}
{% capture hide_section %}
    {% if st.hide_mobile %}hide-mobile{% endif %} {% if st.hide_tablet %}hide-tablet{% endif %} {% if st.hide_desktop %}hide-desktop{% endif %}
{% endcapture %}
{% capture override_padding %}
  {% if st.override_padding_mobile %}op-mobile-{{ section.id }}{% endif %} {% if st.override_padding_desktop %}op-desktop-{{ section.id }}{% endif %}
{% endcapture %}

{%- style -%}
  .op-mobile-{{ section.id }} {
    padding-top: {{ st.mp_top }}px;
    padding-right: {{ st.mp_right }}px;
    padding-bottom: {{ st.mp_bottom }}px;
    padding-left: {{ st.mp_left }}px;
  }
  @media screen and (min-width: 992px) {
    .op-desktop-{{ section.id }} {
      padding-top: {{ st.dp_top }}px;
      padding-right: {{ st.dp_right }}px;
      padding-bottom: {{ st.dp_bottom }}px;
      padding-left: {{ st.dp_left }}px;
    }
  }
{%- endstyle -%}

<section
    id="react-sfmc-form-{{ section.id }}"
    class="react-sfmc-form section-pv-{{ section.settings.margin_vertical }} {{ hide_section | lstrip | rstrip }} {{ override_padding | lstrip | rstrip }}"
    style="background-color:{{ bg_color }};"
    data-button-label="{{ section.settings.button_label }}"
    data-button-style="{{ section.settings.button_style }}"
    data-outer-text-tag="{{ section.settings.outer_text_tag }}"
    data-outer-text="{{ section.settings.outer_text }}"
    data-outer-text-color="{{ section.settings.outer_text_color }}"
    data-outer-text-classes="{{ section.settings.outer_text_classes }}"
    data-form-submit-label="{{ section.settings.form_submit_label }}"
    data-form-submit-style="{{ section.settings.form_submit_style }}"
    data-form-action="{{ section.settings.form_action }}"
    data-show-submit-success="{{ section.settings.show_submit_success }}"
    data-success-top-tag="{{ section.settings.success_top_tag }}"
    data-success-top-text="{{ section.settings.success_top_text }}"
    data-success-top-color="{{ section.settings.success_top_color }}"
    data-success-middle-tag="{{ section.settings.success_middle_tag }}"
    data-success-middle-text="{{ section.settings.success_middle_text }}"
    data-success-middle-color="{{ section.settings.success_middle_color }}"
    data-success-enable-social-media="{{ section.settings.success_enable_social_media }}"
    data-success-social-media-tag="{{ section.settings.success_social_media_tag }}"
    data-success-social-media-text="{{ section.settings.success_social_media_text }}"
    data-success-social-media-color="{{ section.settings.success_social_media_color }}"
    data-success-enable-facebook="{{ section.settings.success_enable_facebook }}"
    data-success-facebook-icon="{{ section.settings.success_facebook_icon | img_url }}"
    data-success-enable-instagram="{{ section.settings.success_enable_instagram }}"
    data-success-instagram-icon="{{ section.settings.success_instagram_icon | img_url }}"
    data-success-enable-twitter="{{ section.settings.success_enable_twitter }}"
    data-success-twitter-icon="{{ section.settings.success_twitter_icon | img_url }}"
    data-success-enable-pinterest="{{ section.settings.success_enable_pinterest }}"
    data-success-pinterest-icon="{{ section.settings.success_pinterest_icon | img_url }}"
    data-success-bottom-tag="{{ section.settings.success_bottom_tag }}"
    data-success-bottom-text="{{ section.settings.success_bottom_text }}"
    data-success-bottom-color="{{ section.settings.success_bottom_color }}"
    data-twitter="{{ settings.social_twitter_link }}"
    data-facebook="{{ settings.social_facebook_link }}"
    data-instagram="{{ settings.social_instagram_link }}"
    data-pinterest="{{ settings.social_pinterest_link }}"
>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'form_field' -%}
        <div
          id="react-sfmc-form-block-{{ block.id }}"
          class="react-sfmc-form-block"
          data-type="{{ block.settings.type }}"
          data-heading="{{ block.settings.heading }}"
          data-classes="{{ block.settings.classes }}"
          data-placeholder="{{ block.settings.placeholder }}"
          data-input-name="{{ block.settings.input_name }}"
          data-required="{{ block.settings.required }}"
        ></div>
      {%- when 'disclaimer' -%}
        <div 
          id="react-sfmc-disclaimer-{{ block.id }}"
          class="react-sfmc-disclaimer"
          data-tag="{{ block.settings.tag }}"
          data-text="{{ block.settings.text }}"
          data-class="{{ block.settings.classes }}"
        ></div>
    {%- endcase -%}
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "SFMC Form",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_desktop",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_tablet",
      "label": "Hide on Tablet",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "margin_vertical",
      "label": "Section margin (vertical)",
      "default": "none",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" }
      ]
    },
    {
      "type": "select",
      "id": "bg_color_selector",
      "label": "Section Background",
      "default": "color_section1_bg",
      "options": [
        { "value": "color_section1_bg", "label": "Section 1" },
        { "value": "color_section2_bg", "label": "Section 2" },
        { "value": "color_section3_bg", "label": "Section 3" },
        { "value": "color_section4_bg", "label": "Section 4" },
        { "value": "color_section5_bg", "label": "Section 5" },
        { "value": "color_section6_bg", "label": "Section 6" }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_color_override",
      "label": "Override Background",
      "default": false
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "checkbox",
      "id": "override_padding_desktop",
      "label": "Override padding",
      "default": false
    },
    {
      "type": "range",
      "id": "dp_top",
      "label": "Top",
      "unit": "px",
      "min": 0,
      "max": 350,
      "step": 10,
      "default": 80
    },
    {
      "type": "range",
      "id": "dp_right",
      "label": "Right",
      "unit": "px",
      "min": 0,
      "max": 350,
      "step": 10,
      "default": 80
    },
    {
      "type": "range",
      "id": "dp_bottom",
      "label": "Bottom",
      "unit": "px",
      "min": 0,
      "max": 350,
      "step": 10,
      "default": 80
    },
    {
      "type": "range",
      "id": "dp_left",
      "label": "Left",
      "unit": "px",
      "min": 0,
      "max": 350,
      "step": 10,
      "default": 80
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "checkbox",
      "id": "override_padding_mobile",
      "label": "Override padding",
      "default": false
    },
    {
      "type": "range",
      "id": "mp_top",
      "label": "Top",
      "unit": "px",
      "min": 0,
      "max": 150,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "mp_right",
      "label": "Right",
      "unit": "px",
      "min": 0,
      "max": 150,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "mp_bottom",
      "label": "Bottom",
      "unit": "px",
      "min": 0,
      "max": 150,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "mp_left",
      "label": "Left",
      "unit": "px",
      "min": 0,
      "max": 150,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "Outer form"
    },
    {
      "type": "select",
      "id": "outer_text_tag",
      "label": "Tag",
      "options": [
        { "value": "p", "label": "Paragraph" },
        { "value": "heading-1-seo", "label": "SEO H1" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p-xsmall", "label": "Extra small paragraph" },
        { "value": "p-small", "label": "Small paragraph" },
        { "value": "p-medium", "label": "Medium paragraph" },
        { "value": "p-large", "label": "Large paragraph" },
        { "value": "p-xlarge", "label": "Extra large paragraph" },
        { "value": "quote-1", "label": "Quote 1" },
        { "value": "quote-2", "label": "Quote 2" },
        { "value": "quote-3", "label": "Quote 3" }
      ]
    },
    {
      "type": "textarea",
      "id": "outer_text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "outer_text_color",
      "label": "Color"
    },
    {
      "type": "textarea",
      "id": "outer_text_classes",
      "label": "Classes"
    },
    {
      "type": "header",
      "content": "Pre-form settings"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        { "value": "sf__btn sf__btn-primary", "label": "Primary" },
        { "value": "sf__btn sf__btn-secondary", "label": "Secondary" },
        { "value": "sf__btn sf__btn-blank-light", "label": "Transparent (light)" },
        { "value": "sf__btn sf__btn-blank-dark", "label": "Transparent (dark)" },
        { "value": "sf__btn sf__btn-link", "label": "Underline" },
        { "value": "button-1", "label": "Button 1" },
        { "value": "button-2", "label": "Button 2" },
        { "value": "button-3", "label": "Button 3" },
        { "value": "button-4", "label": "Button 4" },
        { "value": "button-5", "label": "Button 5" },
        { "value": "button-6", "label": "Button 6" },
        { "value": "button-7", "label": "Button 7" }
      ],
      "default": "sf__btn sf__btn-primary"
    },
    {
      "type": "header",
      "content": "Form settings"
    },
    {
      "type": "text",
      "id": "form_submit_label",
      "label": "Form submit label"
    },
    {
      "type": "select",
      "id": "form_submit_style",
      "label": "Form submit style",
      "options": [
        { "value": "sf__btn sf__btn-primary", "label": "Primary" },
        { "value": "sf__btn sf__btn-secondary", "label": "Secondary" },
        { "value": "sf__btn sf__btn-blank-light", "label": "Transparent (light)" },
        { "value": "sf__btn sf__btn-blank-dark", "label": "Transparent (dark)" },
        { "value": "sf__btn sf__btn-link", "label": "Underline" },
        { "value": "button-1", "label": "Button 1" },
        { "value": "button-2", "label": "Button 2" },
        { "value": "button-3", "label": "Button 3" },
        { "value": "button-4", "label": "Button 4" },
        { "value": "button-5", "label": "Button 5" },
        { "value": "button-6", "label": "Button 6" },
        { "value": "button-7", "label": "Button 7" }
      ],
      "default": "sf__btn sf__btn-secondary"
    },
    {
      "type": "text",
      "id": "form_action",
      "label": "Form handler"
    },
    {
      "type": "header",
      "content": "Post-form settings"
    },
    {
      "type": "checkbox",
      "id": "show_submit_success",
      "label": "Show message after form submission",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Top content"
    },
    {
      "type": "select",
      "id": "success_top_tag",
      "label": "Tag",
      "options": [
        { "value": "p", "label": "Paragraph" },
        { "value": "heading-1-seo", "label": "SEO H1" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p-xsmall", "label": "Extra small paragraph" },
        { "value": "p-small", "label": "Small paragraph" },
        { "value": "p-medium", "label": "Medium paragraph" },
        { "value": "p-large", "label": "Large paragraph" },
        { "value": "p-xlarge", "label": "Extra large paragraph" },
        { "value": "quote-1", "label": "Quote 1" },
        { "value": "quote-2", "label": "Quote 2" },
        { "value": "quote-3", "label": "Quote 3" }
      ]
    },
    {
      "type": "textarea",
      "id": "success_top_text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "success_top_color",
      "label": "Color"
    },
    {
      "type": "paragraph",
      "content": "Middle content"
    },
    {
      "type": "select",
      "id": "success_middle_tag",
      "label": "Tag",
      "options": [
        { "value": "p", "label": "Paragraph" },
        { "value": "heading-1-seo", "label": "SEO H1" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p-xsmall", "label": "Extra small paragraph" },
        { "value": "p-small", "label": "Small paragraph" },
        { "value": "p-medium", "label": "Medium paragraph" },
        { "value": "p-large", "label": "Large paragraph" },
        { "value": "p-xlarge", "label": "Extra large paragraph" },
        { "value": "quote-1", "label": "Quote 1" },
        { "value": "quote-2", "label": "Quote 2" },
        { "value": "quote-3", "label": "Quote 3" }
      ]
    },
    {
      "type": "textarea",
      "id": "success_middle_text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "success_middle_color",
      "label": "Color"
    },
    {
      "type": "checkbox",
      "id": "success_enable_social_media",
      "label": "Enable social media",
      "default": false
    },
    {
      "type": "select",
      "id": "success_social_media_tag",
      "label": "Tag",
      "options": [
        { "value": "p", "label": "Paragraph" },
        { "value": "heading-1-seo", "label": "SEO H1" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p-xsmall", "label": "Extra small paragraph" },
        { "value": "p-small", "label": "Small paragraph" },
        { "value": "p-medium", "label": "Medium paragraph" },
        { "value": "p-large", "label": "Large paragraph" },
        { "value": "p-xlarge", "label": "Extra large paragraph" },
        { "value": "quote-1", "label": "Quote 1" },
        { "value": "quote-2", "label": "Quote 2" },
        { "value": "quote-3", "label": "Quote 3" }
      ]
    },
    {
      "type": "textarea",
      "id": "success_social_media_text",
      "label": "Social media text"
    },
    {
      "type": "color",
      "id": "success_social_media_color",
      "label": "Color"
    },
    {
      "type": "checkbox",
      "id": "success_enable_facebook",
      "label": "Enable Facebook",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "success_facebook_icon",
      "label": "Facebook icon"
    },
    {
      "type": "checkbox",
      "id": "success_enable_instagram",
      "label": "Enable Instagram",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "success_instagram_icon",
      "label": "Instagram icon"
    },
    {
      "type": "checkbox",
      "id": "success_enable_twitter",
      "label": "Enable Twitter",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "success_twitter_icon",
      "label": "Twitter icon"
    },
    {
      "type": "checkbox",
      "id": "success_enable_pinterest",
      "label": "Enable Pinterest",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "success_pinterest_icon",
      "label": "Pinterest icon"
    },
    {
      "type": "paragraph",
      "content": "Bottom content"
    },
    {
      "type": "select",
      "id": "success_bottom_tag",
      "label": "Tag",
      "options": [
        { "value": "p", "label": "Paragraph" },
        { "value": "heading-1-seo", "label": "SEO H1" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p-xsmall", "label": "Extra small paragraph" },
        { "value": "p-small", "label": "Small paragraph" },
        { "value": "p-medium", "label": "Medium paragraph" },
        { "value": "p-large", "label": "Large paragraph" },
        { "value": "p-xlarge", "label": "Extra large paragraph" },
        { "value": "quote-1", "label": "Quote 1" },
        { "value": "quote-2", "label": "Quote 2" },
        { "value": "quote-3", "label": "Quote 3" }
      ]
    },
    {
      "type": "textarea",
      "id": "success_bottom_text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "success_bottom_color",
      "label": "Color"
    }
  ],
  "blocks": [
    {
      "type": "form_field",
      "name": "Form Field",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "input_name",
          "label": "Input Name"
        },
        {
          "type": "text",
          "id": "classes",
          "label": "Field class"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            { "value": "text", "label": "Text" },
            { "value": "email", "label": "Email" },
            { "value": "tel", "label": "Phone" },
            { "value": "number", "label": "Number" },
            { "value": "textarea", "label": "Textarea" },
            { "value": "select", "label": "Select" },
            { "value": "radio", "label": "Radio" },
            { "value": "checkbox", "label": "Checkbox" },
            { "value": "date", "label": "Date" },
            { "value": "datetime-local", "label": "DateTime" },
            { "value": "time", "label": "Time" },
            { "value": "hidden", "label": "Hidden" },
            { "value": "password", "label": "Password" },
            { "value": "file", "label": "File" },
            { "value": "button", "label": "Button" }
          ],
          "default": "text"
        }
      ]
    },
    {
      "type": "disclaimer",
      "name": "Disclaimer",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "classes",
          "label": "Classes"
        },
        {
          "type": "select",
          "id": "tag",
          "label": "Tag",
          "options": [
            { "value": "p", "label": "Paragraph" },
            { "value": "heading-1-seo", "label": "SEO H1" },
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" },
            { "value": "p-xsmall", "label": "Extra small paragraph" },
            { "value": "p-small", "label": "Small paragraph" },
            { "value": "p-medium", "label": "Medium paragraph" },
            { "value": "p-large", "label": "Large paragraph" },
            { "value": "p-xlarge", "label": "Extra large paragraph" },
            { "value": "quote-1", "label": "Quote 1" },
            { "value": "quote-2", "label": "Quote 2" },
            { "value": "quote-3", "label": "Quote 3" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SFMC Form",
      "category": "Example"
    }
  ]
}
{% endschema %}