{% layout none %}
{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="flex flex-row w-full sf-pqv sf-prod__block items-start" data-view="quick-view">
    {%- assign aspect_ratio = product.featured_image.aspect_ratio -%}
    <div class="sf-pqv__slider w-full lg:w-1/2{% if aspect_ratio > 1 and product.has_only_default_variant != true %} pb-[50px]{% endif %}">
      <div class="sf-slider__controls absolute z-10 inset-x-0 top-1/2 -translate-y-1/2 flex items-center justify-between">
        <button class="swiper-button-control swiper-button-prev rounded-full sf__btn-icon">
          {% render 'icon', name: 'prev', size: 'small' %}
        </button>
        <button class="swiper-button-control swiper-button-next rounded-full sf__btn-icon">
          {% render 'icon', name: 'next', size: 'small' %}
        </button>
      </div>
        <div class="relative overflow-hidden flex items-center justify-center" style="--aspect-ratio: 1/1;">
            <div class="sf-pqv__media">

             {% render 'product-badges', product: product %}

              {% if product.images.size <= 1 %}
                {% render 'responsive-image',
                        image: product.featured_image,
                        wrapper_class: "w-full h-full",
                        aspect_ratio: aspect_ratio
                %}
              {% else %}
                <div class="swiper-container flex items-center w-full">
                  <div role="region" aria-label="Product quickview slider" class="swiper-wrapper">
                    {% for image in product.images %}
                      <div class="swiper-slide">
                        {% render 'responsive-image', image: image, image_class: 'object-cover w-full h-full' %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col lg:w-1/2 lg:absolute top-0 right-0">
        <div class="quick-view__info p-4 lg:p-8">
          <div class="prod__title">
            <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
            <p>{{product.metafields.descriptors.subtitle}}</p>
          </div>
            {% if settings.show_review_badge %}
            <div class="sf__pcard-reviews">
              {% render 'product-reviews-app__badge', product: product %}
            </div>
          {% endif %}
            <p class="prod__short-description">{{ product.description | strip_html | truncatewords: 15 }}</p>
            <a class="prod__view-details" href="{{ product.url }}"><p>See product details</p></a>
         
          <div class="actions-block">
            {% render 'product-form',
                section_id: section.id,
                product: product,
                current_variant: current_variant,
                show_quantity_selector: true,
                show_sizeguide: false
            %}
          </div>

          {% render 'product-klaviyo-notify-me' %}
        </div>
    </div>
</div>

{%- render 'product-data' -%}
